#title{
	display: block;
	color: #29B6F6; 
	color: #000;
	width: 100%;
	margin-left: 400px;
	font-size: 50px;
}

body{
	background: #FFF;

}

#page-title{
	display: block;
	color: #29B6F6; 
	/*color: #FFFFFF;*/
	width: 100%;
	margin-left: 400px;
	font-size: 50px;

}
.loadingMessage{
	position: absolute;
	display: block;
	color: #29B6F6;
	/*color: #FFFFFF;*/
	margin-left: 0px;
	font-size: 40px;


}


.query{
	display: block;
	margin: 10px auto;



}

#search-and-results-columns{
	visibility: hidden;
	display: block;
	width: 500px;
	margin: 200px auto;
	margin-top: 50px;
	
	
	
}

#search{
	display: inline-block;
	color: #29B6F6; 
	/*color: #FFFFFF; */
    text-decoration:none;
	text-align: left;
	background-color: rgba(255,255,255,0);
	margin-right: 10px;
	
}

#results{
	width: 65%;
	display: inline-block;
	color: #29B6F6;
	/*color: #FFFFFF; */
   	text-decoration:none;
	text-align: center;
	background-color: rgba(255,255,255,0);
	/*margin-left: -50px;*/
}
.query div, input{
	display: block;
	margin: 10px auto;
	/*margin-left: 0px;*/
	/*width: 2000px;*/
	color: #29B6F6;
	/*color: #FFFFFF; */


}


.query select, label{
	font-family: 'Open Sans', serif;


}
h3{
	font-family: 'Open Sans', serif;
	color: #29B6F6;
	/*color: #FFFFFF;*/ 
}
.query #cost-amount, #weather-amount{
	background: #FFF;
}

#query-button{
	display: block;
	width: 500px;
	/*margin: 100px auto;*/
	margin-top: 50px;
	margin-bottom: 100px;
	font-family: 'Open Sans', serif;
	border: 3px solid #29B6F6;
	color: #FFF;
	background: #29B6F6;
	

}

#query-jobCat{
	display: block;
	width: 500px; /*change to 200px* in js*/
	font-family: 'Open Sans', serif;
	font-size: 32;

}

.slider-range{
	display: block;
	margin-left: 0px;
	height: 3px;
	width: 500px; /*change to 200px* in js*/
	/*height: 3px;*/
	/*margin: 0px auto;*/
	/*margin-left: 0px;*/

}
option{
	color: #29B6F6;
	/*color: #FFFFFF; */
}
body{
	background: white ;
	font-family: 'Open Sans', serif;
}


.mainNav-item{
	border-radius: 2px;	
	width: 200px;
    padding: 20px;  
	text-decoration:none;
	margin-right: 100px;
	font-family: 'Open Sans', serif;
	border: 3px solid #29B6F6;
	color: #FFF;
	background: #29B6F6;
	
}

.cityobj{
	/*float: right;*/
	width: 20%;
	/*margin-left: 20px;*/
	margin-right: 75px;
	/*margin-right: 50px;*/
	display: inline-table;
	/*margin-right: 100px;*/
	/*margin-left: 100px;*/
	color: #29B6F6;
	/*color: #FFFFFF; */ 
   	text-decoration:none;
	text-align: left;
	font-size: 20px;
	background-color: rgba(255,255,255,0);

}

.cityobj img, h3, a{
	/*display: inline;*/
	text-decoration: none;
	text-align: left;

}

#weather-amount, #cost-amount{
	color: #29B6F6;  
	/*color: #FFFFFF; */
	text-align: left;
	border: 0;
	margin-left: 0px;
}

body{
	color: #29B6F6;  
}

#credits{
	display: block;
	font-size: 50;
	font-family: 'Open Sans', serif;

}

a{
	text-decoration: none;
}

body p{
	width: 80%;
	margin: 50px auto;
	color: #888;
	line-height: 150%;

}

.subtitle{
	margin-left: 130px;

}

.bullet{
	margin-top: 10px;
	margin-bottom: 10px;
}

.api-link{
	text-decoration: none;
	display: inline;
	color: #673AB7;
	font-weight: 1000;
	font-size: 20px;
}

#start-button{
	display: block;
	width: 100%
	margin: 50px auto;

}
