<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Simple Soccer Manager</title> 
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
 <!--  <div class="title">
    <h1 id="title">SIMPLE SOCCER MANAGER  </h1>
  </div> -->
 <!--  <div id="title">
    <h1>SIMPLE SOCCER MANAGER</h1>
  </div> -->
  

  <div class="selectTeam">
   <h2 id="selectTeam">1.  SELECT YOUR TEAM</h2>
     

  </div>

    <div class="selectFormation">
   <h2 id="selectFormation">2.  SELECT A FORMATION</h2> 
    

  </div>

   <div class="learnCommands">
   <h2 id="learnCommands">3.  LEARN VOICE COMMANDS</h2> 
  

  </div>
  
  
  <div class="callToAction">
    <h2 id="callToAction">4.  MANAGE YOUR TEAM</h2>
  </div>

  <a href="game">GO</a>

   


  <!-- <p><button id="start-button"><a href="game.html">START</a></button></p> -->

 <script src="https://code.jquery.com/jquery-2.1.4.js" type="text/javascript"></script>
  <script type="text/javascript" src="main.js"></script>

</body>
</html>
